@font-face {
    font-family: 'BebasNue';
    src: url(./fonts/BebasNeue-Regular.ttf);
}
body{
    background-color: rgb(106, 105, 104);
    font-family: 'BebasNue';
    font-size: 1.2cm;
    line-height: 1cm;
    margin: 0%;
}
.header{
    background-color: rgb(255, 255, 255);
    left: 0%;
    top: 0%;
    width: 100%;

}
.header a {
    text-decoration: none;
}
.container{
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}
.logo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.navigation ul{
    margin: 0%;
    padding: 0%;
    list-style: none;
}
.navigation ul li {
    display: inline-block;
}
.navigation ul li a {
    display: block;
    padding:0.5rem 1rem;
}